<ion-view view-title="Dashboard">
  <ion-content>
    </div>
    <h2> Qwirkle </h2>

    <div id="nav">
      <a href="#/tab/info" class="info button button-block button-dark"> 
        <h5> Uitleg</h5> 
      </a>
      
      <a href="#/tab/stats" class="stats button button-block button-dark">
        <h5> Statestieken</h5>
      </a>

      <a href="#/tab/qwirkle" class="new_game button button-block button-dark">
        <h5> Nieuw Spel</h5>
      </a>

    </div>
    <img id="qwirkle" src="img/qwirkle_compleet2.jpg">
    

  </ion-content>


</ion-view>
