<ion-view view-title="Spelregels">
  <ion-content>
    <h2> Spelregels </h2>
    <icon-on="ion-stats-bars">
    <h4> Speelmateriaal </h4>
    <p> 
      <ul> 
        <li> 36 unieke tegels </li>
        <li> 3 van elke tegel </li>
        <li> 108 tegels totaal </li>
      </ul>
    </p>
    <img id="qwirkle_info" src="img/qwirkle_compleet2.jpg">

    <h4> Speelwijze </h4>
    <p> 
      Leg en verleng series<br/> van kleuren en vormen en scoor de meeste punten!
    </p>
    <h4> Spelverloop </h4>
    <p> </p>
    <h4> Puntentelling </h4>
    <p> </p>

  </ion-content>
</ion-view>

